@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 40% 98%;
    --foreground: 270 12% 29%;
    --border: 320 25% 88%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}